.header{
    z-index: 10;
}

.filter-wrapper {
    width: 12%;
}
.product-wrap {
    width: 88%;
}
.products {
    display: flex;
    flex-wrap: wrap;
}
.products .card-wrapper  {
    padding: 10px;
    flex: 1 0 calc(100% / 5);
    max-width: calc(100% / 5);
}
.products .card-wrapper .product-card {
    box-shadow: 1px 1px 4px 0px #00000038;
    min-height: 100%;
}
.card-img{
    height: 300px;
    padding: 0 20px;
}
.card-body {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.cart-btn{
    background: transparent url("../img/cart.png") no-repeat center;
    height: 50px;
    width: 50px;
    border: none;
}

.sort-search{
    min-height: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #fed000!important;
    position: fixed;
    top: 66px;
    width: inherit;
    z-index: 10;
}

.product-filter {
    position: fixed;
}
.product-filter form-select{
    height: 38px;
}

.footer-dark{
    color: white;
}

label.form-check-label{
    color: white;
    font-size: 16px;
    font-family: system-ui;
}
.form-check-input{
    background-color: #fed000!important;
    border: 1px solid  #8c4d0b!important;
}
.btn-details{
    background-color: #fed000!important;
    border: 1px solid  #fed000!important;
}
.btn-check:focus+.btn-info, .btn-info:focus {
    box-shadow: 0 0 0 0.25rem #f5d02a !important;
}
.choose-category {
    color: white;
    font-size: 18px;
}
.content-block{
    width: 100%;
    min-height: calc(100vh - 106px);
}
.products{
    background: #f8f9fa;
}
.back-to-cart-btn {
    margin-right: 15px;
}

i {
    cursor: pointer;
    user-select: none;
}

.order-form input.has-error, .order-form select.has-error {
    border: 1px solid #ff4848;
}

.order-form input.valid, .order-form select.valid {
    border: 1px solid #54ff48;
}

@media screen and (max-width: 1790px){
    .filter-wrapper {
        width: 15%;
    }
    .product-wrap {
        width: 85%;
    }
    .products .card-wrapper  {
        flex: 1 0 calc(100% / 4);
        max-width: calc(100% / 4);
    }
}

@media screen and (max-width: 1500px){
    .filter-wrapper {
        width: 20%;
    }
    .product-wrap {
        width: 80%;
    }
}

@media screen and (max-width: 1400px){
    .products .card-wrapper  {
        flex: 1 0 calc(100% / 3);
        max-width: calc(100% / 3);
    }
}

@media screen and (max-width: 1100px){
    .filter-wrapper {
        position: fixed!important;
        top: 116px!important;
        z-index: 10;
        width: 100%!important;
        padding: 0!important;
        overflow: hidden;
    }
    .filter-wrapper:hover .product-filter .filters-block-wrapper, .filter-wrapper:focus .product-filter .filters-block-wrapper {
        margin-top: -0px!important;
    }
    .product-filter {
        margin: 0!important;
        display: flex!important;
        flex-wrap: wrap;
        justify-content: center;
        flex-flow: column-reverse!important;
        position: unset;
    }
    .product-filter .form-check {
        margin: 10px 20px 10px 0;
        max-width: 200px;
        max-height: 30px!important;
        min-height: unset!important;
    }
    .product-filter .form-check label.form-check-label {
        white-space: nowrap;
    }
    .choose-category {
        display: block!important;
        width: 100%;
        text-align: center;
        padding: 10px;
        margin: 0!important;
    }
    .product-filter .filters-block-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0 20px;
        margin-top: -90px!important;
        transition: 0.3s;
    }
    .product-filter .wrapper {
        width: 756px;
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        max-height: 90px;
        height: 90px;
    }
    .product-wrap {
        width: 100%;
        padding-top: 100px!important;
    }
}

@media screen and (max-width: 860px){
    .products .card-wrapper  {
        flex: 1 0 calc(100% / 2);
        max-width: calc(100% / 2);
    }
}

@media screen and (max-width: 790px){
    .product-filter .wrapper {
        max-height: 180px;
        height: 180px;
    }
    .product-filter .filters-block-wrapper {
        margin-top: -180px!important;
    }

}

@media screen and (max-width: 640px){
    .product-filter .wrapper {
        max-height: 176px;
        height: 176px;
    }
    .product-filter .filters-block-wrapper {
        margin-top: -176px!important;
    }
}

@media screen and (max-width: 540px){
    .products .card-wrapper  {
        flex: 1 0 calc(100%);
        max-width: calc(100%);
    }
    .product-filter .wrapper {
        max-height: 220px;
        height: 220px;
    }
    .product-filter .filters-block-wrapper {
        margin-top: -220px!important;
    }
}

.loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgb(40, 38, 38);
    display: flex;
    justify-content: center;
    align-items: center;
}
